# Add new columns to a Datafeed using Pandas

In the following notebook https://github.com/cyrbaufr/backtrader_tuto/blob/master/backtrader_tuto/Extending_a_datafeed.ipynb I explained how to add a new column to a csv file and load it as a new line in Backtrader.  
Here, I do something similar except that I use class PandasData instead of GenericCSVData

To use Backtrader, the standard process is to import datafeeds with basic information like prices (OHLC), volumes and open interests. However, I can be useful to add other fields such as:  
- **Indicators**: This way, it is faster to develop and run strategies in Backtrader as the results of the indicators are already available and we do not need to create complex Strategy functions to be computed inside loops.  
- **Fundamental or sentiment data**: anything can be added as extra columns.

Each column added to the DataFrame will be considered as a new 'line' by Backtrader. This is an extension of standard lines which are open, high, low, close, volume, openinterest.

For further comments on this topic, have a look at the following post https://community.backtrader.com/topic/2958/extending-data-feeds-using-pandasdata-to-add-custom-calculated-field

In [1]:
# import libraries
import pandas as pd
import backtrader as bt
import datetime  # For datetime objects

## 1. Create DataFrame with a new 'SMA' column

First step is to create a csv file with a new column. For exemple, let's calculate a 20-day Simple Moving Average (SMA) using Pandas.

In [90]:
# Load csv file into a DataFrame
dataframe = pd.read_csv('data/orcl-1995-2014.csv',
           index_col=0)
dataframe.tail()

                 Open       High        Low      Close  Adj Close    Volume
Date
2014-12-24  46.360001  46.709999  46.150002  46.230000  43.488419  10238200
2014-12-26  46.189999  46.500000  46.070000  46.099998  43.366119   6901500
2014-12-29  46.020000  46.090000  45.599998  45.610001  42.905186   9701400
2014-12-30  45.549999  45.660000  45.290001  45.340000  42.651192   9968400
2014-12-31  45.450001  45.560001  44.970001  44.970001  42.303135  13269200

Now let's add a column 'SMA' to calculate a 20-day MA

In [128]:
# Add new column SMA
dataframe['sma20']=dataframe['Close'].rolling(20).mean()
dataframe['sma50']=dataframe['Close'].rolling(50).mean()
dataframe

,Open,High,Low,Close,Volume,SMA_20,SMA_50,sma20,sma50
Date,,,,,,,,,
1995-03-14,2.490741,2.509259,2.462963,2.462963,24872800,2.340741,2.218704,NaN,NaN
1995-03-15,2.481482,2.481482,2.416667,2.425926,24435600,2.353086,2.224877,NaN,NaN
1995-03-16,2.425926,2.462963,2.425926,2.462963,19735200,2.363272,2.231420,NaN,NaN
1995-03-17,2.472222,2.500000,2.444444,2.472222,29170800,2.372994,2.239012,NaN,NaN
1995-03-20,2.481482,2.564815,2.453704,2.490741,20464000,2.384877,2.246481,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2014-12-24,46.360001,46.709999,46.150002,46.230000,10238200,42.571500,40.743600,42.5715,40.7436
2014-12-26,46.189999,46.500000,46.070000,46.099998,6901500,42.783000,40.899600,42.7830,40.8996
2014-12-29,46.020000,46.090000,45.599998,45.610001,9701400,42.943000,41.060600,42.9430,41.0606
2014-12-30,45.549999,45.660000,45.290001,45.340000,9968400,43.106000,41.210000,43.1060,41.2100
2014-12-31,45.450001,45.560001,44.970001,44.970001,13269200,43.245500,41.353400,43.2455,41.3534

In [129]:
# Drop lines with NaNs as SMA is not yet available
dataframe.dropna(inplace=True)
dataframe.head()

,Open,High,Low,Close,Volume,SMA_20,SMA_50,sma20,sma50
Date,,,,,,,,,
1995-05-23,2.500000,2.583333,2.486111,2.583333,34003600,2.369444,2.355556,2.369444,2.355556
1995-05-24,2.712963,2.796296,2.694444,2.787037,121257600,2.401389,2.362037,2.401389,2.362037
1995-05-25,2.805556,2.851852,2.703704,2.740741,56305600,2.422685,2.368333,2.422685,2.368333
1995-05-26,2.740741,2.740741,2.648148,2.675926,33050400,2.443519,2.372593,2.443519,2.372593
1995-05-30,2.685185,2.685185,2.537037,2.537037,64638400,2.459028,2.373889,2.459028,2.373889

In [130]:
# To avoid confusion, we drop column "Adj Close" which is not standard
dataframe.drop(columns=['Adj Close'], inplace=True)

KeyError: "['Adj Close'] not found in axis"

In [131]:
dataframe.head()

,Open,High,Low,Close,Volume,SMA_20,SMA_50,sma20,sma50
Date,,,,,,,,,
1995-05-23,2.500000,2.583333,2.486111,2.583333,34003600,2.369444,2.355556,2.369444,2.355556
1995-05-24,2.712963,2.796296,2.694444,2.787037,121257600,2.401389,2.362037,2.401389,2.362037
1995-05-25,2.805556,2.851852,2.703704,2.740741,56305600,2.422685,2.368333,2.422685,2.368333
1995-05-26,2.740741,2.740741,2.648148,2.675926,33050400,2.443519,2.372593,2.443519,2.372593
1995-05-30,2.685185,2.685185,2.537037,2.537037,64638400,2.459028,2.373889,2.459028,2.373889

In [132]:
# Better to set datetime index to avoid errors
dataframe.index = pd.to_datetime(dataframe.index)

The great advantage of Pandas Vs. CSV files is that DataFrames can be saved using more efficient libraries like pickle or others.

## 2. Create a new trading strategy using new column 'SMA'

We must first create a class inherited from class GenericCSVData that will add a new line called 'sma' to standard lines already available in GenericCSVData ('datetime', 'time', 'open', 'high', 'low', 'close', 'volume', 'openinterest')

In [133]:
from backtrader.feeds import PandasData

class MyPandasData(PandasData):
    """
    Create custom Pandas datafeed to match with custome DataFrame format
    ----
    Here we specify positions of columns OHLCV in 'dataframe' above
    """
    params = (  ('datetime', -1),  # autodetect position otherwise it fails
                ('time', None),  # No time available
                ('Open', 1),
                ('High', 2),
                ('Low', 3),
                ('Close', 4),
                ('Volume', 5),
                ('openinterest', None),  # not available
            )

In [134]:
class MyExtendedPandasDataV1(MyPandasData):
    """
    Here we add new lines to custom Pandas datafeed 'MyPandasData'
    ----
    Strange behaviour... First line must have same col number than Volume.
    Otherwise, this triggers dim error. Why? Is it a bug?
    """
    # Add 2 'sma' lines to the inherited ones from the base class
    lines = ('sma20', 'sma50')

    # add the parameter to the parameters inherited from the base class
    # Volume in MyPandasData has index 5 so sma20 should be 6
    # However, it fails! Code ois correct when sma20 is 5 (??)
    params = (('sma20', 5), ('sma50', 6))

In [135]:
class MyExtendedPandasDataV2(PandasData):
    """
    Here we add new lines to the standard PandasData datafeed
    ----
    Make sure SMA column is number 6 in csv file used!
    Other GenericCSVData standard fields will be recognized
    """

    # Add a 'sma' line to the inherited ones from the base class
    lines = ('sma20', 'sma50')

    # add the parameter to the parameters inherited from the base class
    # openinterest in GenericCSVData has index 7 so sma should be 8
    # However, SMA is column 8 in the csv file used so sma should be 6
    params = (('sma20', 5), ('sma50', 6))

Due to the strange behaviour of line numbers, it is recommended to use the method discussed in this post https://community.backtrader.com/topic/158/how-to-feed-backtrader-alternative-data/9

In [136]:
class CustomDataLoader(PandasData):
    """
    Add any new lines to standard fields coming from a DataFrame
    ------
    Better than the 2 classes above!
    ...
    Here we add columns 'sma20' and 'sma50' as new line
    To avoid confusion and mistakes, preferably rename dataframe columns 
    so they have the same name than Backtrader lines
    ...
    Due to the nature of a dataframe and to look for things in the dataframe by name,
    the class features also a datafields atttribute which names the fields (columns in the dataframe).
    """
    # Name of the new lines in Backtrader
    lines = ('sma20','sma50',)
    # Better to inform Backtrader of missing columns
    params = (
        ('openinterest',None),  #None= column not present
        ('sma20',-1),  # autodetect column 'sma20' in dataframe
        ('sma50',-1)  # autodetect column 'sma50' in dataframe
    )
    # Add new fields to Pandas datafields (name of columns in dataframe)
    datafields = PandasData.datafields + (['sma20','sma50'])

We can create a new strategy that uses the SMA column available in the csv file as an input for a trading strategy. Here the strategy is just to print the level of the Simple Moving Average every day.

In [137]:
class TestStrategy(bt.Strategy):
    """
    Print close price in logs every day
    """
    def __init__(self):
        """ Keep a reference to the close line in the datas[0] dataseries"""
        self.dataopen = self.datas[0].lines.open
        self.datahigh = self.datas[0].lines.high
        self.datalow = self.datas[0].lines.low
        self.dataclose = self.datas[0].lines.close
        self.datavol = self.datas[0].lines.volume
        # Define column SMA of the CSV file as a new line
        self.my_sma1 = self.datas[0].lines.sma20
        self.my_sma2 = self.datas[0].lines.sma50

    def log(self, txt, dt=None):
        """ Logging function for this strategy"""
        dt = dt or self.datas[0].datetime.date(0)
        # print date followed by any message found in 'txt'
        print('%s, %s' % (dt.isoformat(), txt))

    def next(self):
        """ Simply log the closing price of the series from the reference"""
        # output will be of format "date, Close, a float" (i.e. close price)
        # self.log('Open, %.2f,  Close, %.2f' % (self.dataopen[0], self.dataclose[0]))
        self.log('O, %.2f, H, %.2f, L, %.2f, C, %.2f,  V, %.0f, SMA1, %.2f, SMA2, %.2f' % (
            self.dataopen[0],
            self.datahigh[0],
            self.datalow[0],
            self.dataclose[0],
            self.datavol[0],
            self.my_sma1[0],
            self.my_sma2[0])
                )

In [138]:
if __name__ == '__main__':
    # Create a cerebro entity
    cerebro = bt.Cerebro()

    # Add the strategy (print logs)
    cerebro.addstrategy(TestStrategy)

    # Create a Data Feed
    # data = MyExtendedPandasDataV1(
    data = CustomDataLoader(
        dataname=dataframe,
        # Do not pass values before this date
        fromdate=datetime.datetime(2000, 1, 1),
        # Do not pass values before this date
        todate=datetime.datetime(2000, 12, 31),
        )

    # Add the Data Feed to Cerebro
    cerebro.adddata(data)

    # Set our desired cash start
    cerebro.broker.setcash(100000.0)

    # Print out the starting conditions
    print('Starting Portfolio Value: %.2f' % cerebro.broker.getvalue())

    # Run over everything
    cerebro.run()

    # Print out the final result
    print('Final Portfolio Value: %.2f' % cerebro.broker.getvalue())

Starting Portfolio Value: 100000.00
2000-01-03, O, 31.16, H, 31.30, L, 27.91, C, 29.53,  V, 98114800, SMA1, 23.65, SMA2, 18.78
2000-01-04, O, 28.88, H, 29.66, L, 26.25, C, 26.92,  V, 116824800, SMA1, 24.02, SMA2, 19.10
2000-01-05, O, 25.41, H, 26.59, L, 24.00, C, 25.50,  V, 166054000, SMA1, 24.30, SMA2, 19.39
2000-01-06, O, 25.04, H, 26.25, L, 23.67, C, 24.00,  V, 109880000, SMA1, 24.55, SMA2, 19.65
2000-01-07, O, 23.75, H, 25.88, L, 23.39, C, 25.84,  V, 91755600, SMA1, 24.86, SMA2, 19.94
2000-01-10, O, 27.00, H, 29.00, L, 26.38, C, 28.94,  V, 91518000, SMA1, 25.25, SMA2, 20.29
2000-01-11, O, 28.16, H, 28.69, L, 27.38, C, 28.09,  V, 86585200, SMA1, 25.66, SMA2, 20.62
2000-01-12, O, 28.06, H, 28.06, L, 25.92, C, 26.41,  V, 83443600, SMA1, 26.02, SMA2, 20.89
2000-01-13, O, 27.12, H, 27.47, L, 25.88, C, 26.27,  V, 55779200, SMA1, 26.20, SMA2, 21.15
2000-01-14, O, 27.25, H, 27.84, L, 26.19, C, 26.70,  V, 57078000, SMA1, 26.41, SMA2, 21.40
2000-01-18, O, 26.97, H, 28.62, L, 26.41, C, 27.81,  V, 66780000, SMA1, 26.67, SMA2, 21.66
2000-01-19, O, 28.06, H, 29.12, L, 27.00, C, 28.56,  V, 49198400, SMA1, 26.90, SMA2, 21.94
2000-01-20, O, 29.50, H, 30.12, L, 29.06, C, 29.62,  V, 54526800, SMA1, 27.16, SMA2, 22.24
2000-01-21, O, 30.75, H, 30.75, L, 29.50, C, 29.84,  V, 50891000, SMA1, 27.34, SMA2, 22.54
2000-01-24, O, 30.12, H, 30.19, L, 27.00, C, 27.09,  V, 50022400, SMA1, 27.36, SMA2, 22.79
2000-01-25, O, 27.53, H, 28.75, L, 27.44, C, 28.22,  V, 53059200, SMA1, 27.46, SMA2, 23.04
2000-01-26, O, 28.38, H, 29.47, L, 27.50, C, 27.53,  V, 47569200, SMA1, 27.51, SMA2, 23.27
2000-01-27, O, 27.91, H, 28.34, L, 25.00, C, 25.91,  V, 61054000, SMA1, 27.43, SMA2, 23.47
2000-01-28, O, 25.75, H, 25.97, L, 23.31, C, 23.69,  V, 86394000, SMA1, 27.23, SMA2, 23.62
2000-01-31, O, 23.97, H, 25.06, L, 23.53, C, 24.98,  V, 68148000, SMA1, 27.07, SMA2, 23.76
2000-02-01, O, 25.62, H, 27.16, L, 25.00, C, 27.00,  V, 57105600, SMA1, 26.95, SMA2, 23.93
2000-02-02, O, 27.47, H, 28.00, L, 27.00, C, 27.16,  V, 63933000, SMA1, 26.96, SMA2, 24.09
2000-02-03, O, 27.69, H, 28.50, L, 27.12, C, 28.34,  V, 55533200, SMA1, 27.10, SMA2, 24.27
2000-02-04, O, 28.81, H, 29.12, L, 28.41, C, 28.91,  V, 40916000, SMA1, 27.35, SMA2, 24.48
2000-02-07, O, 29.66, H, 30.00, L, 29.44, C, 29.97,  V, 44691200, SMA1, 27.55, SMA2, 24.72
2000-02-08, O, 30.38, H, 30.72, L, 29.50, C, 29.78,  V, 55718000, SMA1, 27.59, SMA2, 24.95
2000-02-09, O, 30.03, H, 30.66, L, 29.41, C, 29.97,  V, 52471600, SMA1, 27.69, SMA2, 25.19
2000-02-10, O, 30.00, H, 31.31, L, 29.00, C, 31.16,  V, 45288600, SMA1, 27.93, SMA2, 25.47
2000-02-11, O, 31.25, H, 32.38, L, 29.38, C, 29.84,  V, 55774000, SMA1, 28.10, SMA2, 25.72
2000-02-14, O, 30.44, H, 31.12, L, 29.31, C, 31.09,  V, 37599800, SMA1, 28.32, SMA2, 25.96
2000-02-15, O, 30.81, H, 31.59, L, 29.56, C, 30.69,  V, 47971400, SMA1, 28.47, SMA2, 26.18
2000-02-16, O, 30.50, H, 31.28, L, 30.06, C, 30.62,  V, 33489200, SMA1, 28.57, SMA2, 26.40
2000-02-17, O, 30.88, H, 31.38, L, 30.00, C, 30.81,  V, 40392600, SMA1, 28.63, SMA2, 26.62
2000-02-18, O, 30.84, H, 31.00, L, 29.19, C, 29.28,  V, 63888400, SMA1, 28.60, SMA2, 26.82
2000-02-22, O, 29.56, H, 30.72, L, 28.16, C, 29.66,  V, 75546200, SMA1, 28.73, SMA2, 27.02
2000-02-23, O, 30.09, H, 31.63, L, 29.81, C, 31.53,  V, 69664400, SMA1, 28.90, SMA2, 27.23
2000-02-24, O, 31.59, H, 32.53, L, 30.12, C, 30.97,  V, 70963200, SMA1, 29.07, SMA2, 27.45
2000-02-25, O, 30.94, H, 35.50, L, 30.94, C, 35.31,  V, 103186600, SMA1, 29.54, SMA2, 27.77
2000-02-28, O, 35.62, H, 38.25, L, 34.12, C, 34.31,  V, 122316600, SMA1, 30.07, SMA2, 28.01
2000-02-29, O, 36.69, H, 37.22, L, 35.56, C, 37.12,  V, 55586400, SMA1, 30.68, SMA2, 28.30
2000-03-01, O, 36.88, H, 37.25, L, 35.38, C, 35.75,  V, 44934400, SMA1, 31.11, SMA2, 28.56
2000-03-02, O, 36.75, H, 36.78, L, 33.94, C, 34.25,  V, 52311000, SMA1, 31.47, SMA2, 28.77
2000-03-03, O, 35.56, H, 37.56, L, 35.09, C, 37.50,  V, 47974400, SMA1, 31.93, SMA2, 29.03
2000-03-06, O, 37.41, H, 38.47, L, 36.19, C, 37.88,  V, 45520600, SMA1, 32.38, SMA2, 29.26
2000-03-07, O, 38.31, H, 40.00, L, 37.19, C, 37.47,  V, 53982200, SMA1, 32.75, SMA2, 29.48
2000-03-08, O, 38.69, H, 41.78, L, 37.50, C, 41.56,  V, 62781200, SMA1, 33.34, SMA2, 29.79
2000-03-09, O, 42.16, H, 42.50, L, 40.06, C, 42.00,  V, 56476400, SMA1, 33.94, SMA2, 30.10
2000-03-10, O, 42.00, H, 42.03, L, 40.12, C, 40.81,  V, 44699800, SMA1, 34.42, SMA2, 30.36
2000-03-13, O, 39.25, H, 41.81, L, 38.40, C, 39.38,  V, 65803200, SMA1, 34.90, SMA2, 30.59
2000-03-14, O, 40.94, H, 41.88, L, 38.25, C, 38.50,  V, 72364000, SMA1, 35.27, SMA2, 30.80
2000-03-15, O, 42.00, H, 42.50, L, 38.50, C, 39.31,  V, 144810400, SMA1, 35.70, SMA2, 31.00
2000-03-16, O, 40.34, H, 41.28, L, 38.34, C, 40.97,  V, 95532400, SMA1, 36.22, SMA2, 31.28
2000-03-17, O, 40.88, H, 41.00, L, 39.75, C, 39.91,  V, 66055200, SMA1, 36.67, SMA2, 31.57
2000-03-20, O, 40.25, H, 40.31, L, 38.78, C, 39.06,  V, 47183600, SMA1, 37.16, SMA2, 31.87
2000-03-21, O, 38.94, H, 40.44, L, 38.00, C, 40.34,  V, 52621400, SMA1, 37.70, SMA2, 32.16
2000-03-22, O, 40.50, H, 42.19, L, 39.44, C, 42.03,  V, 53197600, SMA1, 38.22, SMA2, 32.42
2000-03-23, O, 41.56, H, 44.00, L, 41.28, C, 43.44,  V, 50803800, SMA1, 38.85, SMA2, 32.73
2000-03-24, O, 43.41, H, 44.84, L, 43.22, C, 43.50,  V, 52821600, SMA1, 39.25, SMA2, 33.07
2000-03-27, O, 44.53, H, 44.66, L, 43.47, C, 44.22,  V, 32597200, SMA1, 39.75, SMA2, 33.43
2000-03-28, O, 43.81, H, 45.00, L, 42.75, C, 43.28,  V, 36039200, SMA1, 40.06, SMA2, 33.76
2000-03-29, O, 43.03, H, 43.06, L, 41.03, C, 41.25,  V, 51966200, SMA1, 40.33, SMA2, 34.03
2000-03-30, O, 39.25, H, 42.25, L, 39.00, C, 39.22,  V, 70986000, SMA1, 40.58, SMA2, 34.24
2000-03-31, O, 40.09, H, 40.78, L, 38.00, C, 39.03,  V, 79842000, SMA1, 40.66, SMA2, 34.43
2000-04-03, O, 39.31, H, 40.31, L, 37.50, C, 38.44,  V, 71598000, SMA1, 40.69, SMA2, 34.60
2000-04-04, O, 39.06, H, 39.06, L, 32.54, C, 37.97,  V, 123633800, SMA1, 40.71, SMA2, 34.82
2000-04-05, O, 36.62, H, 40.50, L, 36.27, C, 39.12,  V, 73736800, SMA1, 40.59, SMA2, 35.04
2000-04-06, O, 40.31, H, 41.72, L, 40.06, C, 41.09,  V, 62408200, SMA1, 40.54, SMA2, 35.31
2000-04-07, O, 41.84, H, 43.62, L, 41.50, C, 43.56,  V, 46764600, SMA1, 40.68, SMA2, 35.66
2000-04-10, O, 43.75, H, 43.81, L, 41.12, C, 41.25,  V, 56241200, SMA1, 40.77, SMA2, 36.01
2000-04-11, O, 40.09, H, 40.81, L, 38.41, C, 38.69,  V, 70983800, SMA1, 40.78, SMA2, 36.29
2000-04-12, O, 38.97, H, 40.00, L, 36.47, C, 36.56,  V, 67133000, SMA1, 40.65, SMA2, 36.48
2000-04-13, O, 37.44, H, 38.75, L, 35.88, C, 35.97,  V, 63206800, SMA1, 40.40, SMA2, 36.65
2000-04-14, O, 34.96, H, 35.64, L, 30.12, C, 31.25,  V, 109951400, SMA1, 39.96, SMA2, 36.71
2000-04-17, O, 30.25, H, 37.44, L, 30.09, C, 37.41,  V, 115304800, SMA1, 39.88, SMA2, 36.88
2000-04-18, O, 37.78, H, 39.53, L, 36.88, C, 39.47,  V, 78738800, SMA1, 39.84, SMA2, 37.07
2000-04-19, O, 39.31, H, 39.78, L, 37.12, C, 37.28,  V, 46184200, SMA1, 39.60, SMA2, 37.22
2000-04-20, O, 36.91, H, 37.75, L, 34.94, C, 35.41,  V, 50397800, SMA1, 39.20, SMA2, 37.33
2000-04-24, O, 33.69, H, 36.34, L, 33.50, C, 36.22,  V, 59725600, SMA1, 38.83, SMA2, 37.43
2000-04-25, O, 37.44, H, 38.19, L, 36.31, C, 37.78,  V, 61764200, SMA1, 38.51, SMA2, 37.59
2000-04-26, O, 38.06, H, 38.91, L, 35.53, C, 36.09,  V, 47788800, SMA1, 38.15, SMA2, 37.69
2000-04-27, O, 35.03, H, 38.78, L, 34.97, C, 38.66,  V, 52101000, SMA1, 38.02, SMA2, 37.85
2000-04-28, O, 39.25, H, 40.00, L, 39.06, C, 39.97,  V, 41696600, SMA1, 38.06, SMA2, 38.04
2000-05-01, O, 39.94, H, 40.94, L, 39.38, C, 39.84,  V, 37093400, SMA1, 38.10, SMA2, 38.22
2000-05-02, O, 39.47, H, 39.75, L, 38.69, C, 38.91,  V, 35341000, SMA1, 38.12, SMA2, 38.41
2000-05-03, O, 38.44, H, 38.56, L, 36.06, C, 37.91,  V, 49603200, SMA1, 38.12, SMA2, 38.58
2000-05-04, O, 37.66, H, 38.47, L, 36.50, C, 37.12,  V, 39899800, SMA1, 38.02, SMA2, 38.69
2000-05-05, O, 37.00, H, 38.50, L, 36.88, C, 38.41,  V, 35289600, SMA1, 37.89, SMA2, 38.84
2000-05-08, O, 37.66, H, 38.00, L, 36.03, C, 36.16,  V, 36528400, SMA1, 37.52, SMA2, 38.85
2000-05-09, O, 36.84, H, 37.12, L, 35.62, C, 36.00,  V, 43535200, SMA1, 37.25, SMA2, 38.89
2000-05-10, O, 35.47, H, 36.56, L, 33.75, C, 33.81,  V, 71169800, SMA1, 37.01, SMA2, 38.82
2000-05-11, O, 34.47, H, 36.19, L, 34.00, C, 36.19,  V, 46590200, SMA1, 36.99, SMA2, 38.83
2000-05-12, O, 36.66, H, 38.22, L, 36.53, C, 37.09,  V, 39038200, SMA1, 37.05, SMA2, 38.89
2000-05-15, O, 37.22, H, 38.50, L, 35.31, C, 38.50,  V, 41971800, SMA1, 37.41, SMA2, 38.91
2000-05-16, O, 38.81, H, 39.88, L, 38.53, C, 39.59,  V, 38261400, SMA1, 37.52, SMA2, 38.94
2000-05-17, O, 38.88, H, 39.94, L, 38.12, C, 39.09,  V, 33993600, SMA1, 37.50, SMA2, 38.97
2000-05-18, O, 39.16, H, 39.38, L, 36.22, C, 36.53,  V, 46444600, SMA1, 37.46, SMA2, 38.87
2000-05-19, O, 36.00, H, 37.00, L, 34.75, C, 35.03,  V, 52228800, SMA1, 37.45, SMA2, 38.73
2000-05-22, O, 35.03, H, 35.12, L, 31.38, C, 33.91,  V, 91156000, SMA1, 37.33, SMA2, 38.59
2000-05-23, O, 33.50, H, 34.25, L, 31.19, C, 31.31,  V, 58574000, SMA1, 37.01, SMA2, 38.43
2000-05-24, O, 30.88, H, 32.25, L, 29.06, C, 32.12,  V, 85195200, SMA1, 36.81, SMA2, 38.31
2000-05-25, O, 32.75, H, 35.41, L, 32.50, C, 33.22,  V, 80958000, SMA1, 36.54, SMA2, 38.18
2000-05-26, O, 33.41, H, 34.75, L, 32.53, C, 33.50,  V, 28903800, SMA1, 36.21, SMA2, 38.03
2000-05-30, O, 34.44, H, 37.09, L, 34.28, C, 37.09,  V, 38933000, SMA1, 36.08, SMA2, 37.98
2000-05-31, O, 36.62, H, 38.22, L, 35.88, C, 35.94,  V, 50939800, SMA1, 35.93, SMA2, 37.92
2000-06-01, O, 36.97, H, 38.94, L, 36.75, C, 38.94,  V, 53401000, SMA1, 35.98, SMA2, 37.89
2000-06-02, O, 40.25, H, 40.75, L, 39.25, C, 40.09,  V, 57964800, SMA1, 36.13, SMA2, 37.85
2000-06-05, O, 39.62, H, 41.00, L, 39.50, C, 40.47,  V, 38507200, SMA1, 36.23, SMA2, 37.79
2000-06-06, O, 40.25, H, 40.75, L, 38.12, C, 38.53,  V, 40020000, SMA1, 36.35, SMA2, 37.69
2000-06-07, O, 38.38, H, 40.12, L, 37.78, C, 40.00,  V, 34080800, SMA1, 36.55, SMA2, 37.61
2000-06-08, O, 40.94, H, 41.38, L, 40.12, C, 41.19,  V, 46768600, SMA1, 36.92, SMA2, 37.56
2000-06-09, O, 41.44, H, 41.88, L, 40.94, C, 41.34,  V, 32975200, SMA1, 37.17, SMA2, 37.57
2000-06-12, O, 41.28, H, 41.41, L, 40.19, C, 40.28,  V, 24206000, SMA1, 37.33, SMA2, 37.59
2000-06-13, O, 39.99, H, 40.88, L, 39.03, C, 40.84,  V, 37229400, SMA1, 37.45, SMA2, 37.62
2000-06-14, O, 40.94, H, 41.00, L, 39.38, C, 39.50,  V, 33191800, SMA1, 37.45, SMA2, 37.64
2000-06-15, O, 39.62, H, 41.31, L, 39.56, C, 41.25,  V, 36786800, SMA1, 37.55, SMA2, 37.71
2000-06-16, O, 40.94, H, 41.88, L, 40.53, C, 40.94,  V, 41904400, SMA1, 37.77, SMA2, 37.75
2000-06-19, O, 41.03, H, 43.03, L, 40.62, C, 43.00,  V, 51077200, SMA1, 38.17, SMA2, 37.78
2000-06-20, O, 43.47, H, 43.81, L, 42.25, C, 43.02,  V, 57192600, SMA1, 38.63, SMA2, 37.77
2000-06-21, O, 40.41, H, 43.69, L, 40.16, C, 43.09,  V, 108053800, SMA1, 39.22, SMA2, 37.81
2000-06-22, O, 42.31, H, 42.62, L, 40.69, C, 40.75,  V, 42105600, SMA1, 39.65, SMA2, 37.85
2000-06-23, O, 40.41, H, 40.74, L, 39.28, C, 39.75,  V, 40643000, SMA1, 39.98, SMA2, 37.92
2000-06-26, O, 40.12, H, 41.72, L, 39.62, C, 41.34,  V, 38942400, SMA1, 40.37, SMA2, 38.02
2000-06-27, O, 41.19, H, 41.97, L, 40.84, C, 41.12,  V, 28581600, SMA1, 40.57, SMA2, 38.22
2000-06-28, O, 41.03, H, 42.50, L, 40.84, C, 41.47,  V, 32104800, SMA1, 40.85, SMA2, 38.30
2000-06-29, O, 41.03, H, 41.56, L, 39.78, C, 40.44,  V, 35751800, SMA1, 40.92, SMA2, 38.32
2000-06-30, O, 40.19, H, 42.25, L, 40.00, C, 42.03,  V, 38093000, SMA1, 41.02, SMA2, 38.42
2000-07-03, O, 40.56, H, 40.88, L, 39.44, C, 40.09,  V, 42136200, SMA1, 41.00, SMA2, 38.51
2000-07-05, O, 38.41, H, 38.81, L, 36.09, C, 36.16,  V, 94634200, SMA1, 40.88, SMA2, 38.51
2000-07-06, O, 35.88, H, 37.94, L, 35.88, C, 37.81,  V, 50533000, SMA1, 40.77, SMA2, 38.51
2000-07-07, O, 37.97, H, 38.50, L, 37.75, C, 37.94,  V, 31480200, SMA1, 40.61, SMA2, 38.55
2000-07-10, O, 37.31, H, 37.75, L, 36.44, C, 37.06,  V, 43957600, SMA1, 40.39, SMA2, 38.51
2000-07-11, O, 36.81, H, 37.62, L, 35.56, C, 36.16,  V, 42121400, SMA1, 40.19, SMA2, 38.44
2000-07-12, O, 36.72, H, 37.56, L, 36.50, C, 37.34,  V, 34368400, SMA1, 40.01, SMA2, 38.39
2000-07-13, O, 37.88, H, 38.31, L, 37.38, C, 37.88,  V, 41625400, SMA1, 39.93, SMA2, 38.37
2000-07-14, O, 38.09, H, 38.25, L, 37.56, C, 38.06,  V, 31712000, SMA1, 39.77, SMA2, 38.37
2000-07-17, O, 37.66, H, 39.00, L, 37.03, C, 38.06,  V, 32388800, SMA1, 39.63, SMA2, 38.39
2000-07-18, O, 37.84, H, 38.31, L, 37.03, C, 37.09,  V, 29967000, SMA1, 39.33, SMA2, 38.36
2000-07-19, O, 37.50, H, 37.97, L, 36.50, C, 36.88,  V, 31558600, SMA1, 39.03, SMA2, 38.38
2000-07-20, O, 37.41, H, 39.50, L, 37.38, C, 39.06,  V, 35382000, SMA1, 38.83, SMA2, 38.44
2000-07-21, O, 38.72, H, 38.84, L, 37.53, C, 37.72,  V, 30925000, SMA1, 38.67, SMA2, 38.52
2000-07-24, O, 38.56, H, 39.31, L, 37.47, C, 37.50,  V, 38060200, SMA1, 38.56, SMA2, 38.54
2000-07-25, O, 37.94, H, 38.25, L, 37.16, C, 38.00,  V, 27118200, SMA1, 38.39, SMA2, 38.56
2000-07-26, O, 37.41, H, 39.00, L, 37.03, C, 38.38,  V, 31826400, SMA1, 38.26, SMA2, 38.56
2000-07-27, O, 37.97, H, 39.00, L, 37.50, C, 37.53,  V, 32539000, SMA1, 38.06, SMA2, 38.52
2000-07-28, O, 37.56, H, 38.22, L, 35.53, C, 36.19,  V, 33203400, SMA1, 37.85, SMA2, 38.46
2000-07-31, O, 35.88, H, 37.75, L, 35.69, C, 37.59,  V, 34406400, SMA1, 37.62, SMA2, 38.48
2000-08-01, O, 37.59, H, 37.94, L, 36.44, C, 36.56,  V, 30190800, SMA1, 37.45, SMA2, 38.51
2000-08-02, O, 36.50, H, 37.62, L, 36.19, C, 36.56,  V, 30315000, SMA1, 37.47, SMA2, 38.56
2000-08-03, O, 36.41, H, 38.75, L, 35.81, C, 38.72,  V, 44941200, SMA1, 37.51, SMA2, 38.71
2000-08-04, O, 39.16, H, 41.16, L, 39.06, C, 40.78,  V, 73211600, SMA1, 37.66, SMA2, 38.89
2000-08-07, O, 40.44, H, 41.19, L, 40.38, C, 40.94,  V, 40751400, SMA1, 37.85, SMA2, 39.04
2000-08-08, O, 40.50, H, 41.62, L, 40.41, C, 41.50,  V, 34931800, SMA1, 38.12, SMA2, 39.20
2000-08-09, O, 41.75, H, 42.14, L, 40.59, C, 40.69,  V, 30846000, SMA1, 38.28, SMA2, 39.27
2000-08-10, O, 40.72, H, 41.19, L, 40.00, C, 40.03,  V, 24436000, SMA1, 38.39, SMA2, 39.35
2000-08-11, O, 39.97, H, 40.97, L, 39.62, C, 40.56,  V, 22106800, SMA1, 38.52, SMA2, 39.39
2000-08-14, O, 40.09, H, 41.28, L, 39.94, C, 41.19,  V, 21862200, SMA1, 38.67, SMA2, 39.41
2000-08-15, O, 40.97, H, 41.78, L, 40.56, C, 40.62,  V, 31208800, SMA1, 38.85, SMA2, 39.41
2000-08-16, O, 40.69, H, 41.12, L, 40.53, C, 40.59,  V, 22698200, SMA1, 39.04, SMA2, 39.45
2000-08-17, O, 40.44, H, 42.03, L, 40.41, C, 41.97,  V, 30085000, SMA1, 39.18, SMA2, 39.49
2000-08-18, O, 41.75, H, 42.38, L, 40.56, C, 40.66,  V, 31121200, SMA1, 39.33, SMA2, 39.48
2000-08-21, O, 41.06, H, 41.69, L, 40.38, C, 41.59,  V, 20295600, SMA1, 39.53, SMA2, 39.49
2000-08-22, O, 41.44, H, 42.09, L, 41.09, C, 41.78,  V, 23251600, SMA1, 39.72, SMA2, 39.52
2000-08-23, O, 41.47, H, 41.56, L, 40.50, C, 41.44,  V, 25104800, SMA1, 39.88, SMA2, 39.53
2000-08-24, O, 41.44, H, 42.53, L, 41.34, C, 42.34,  V, 40413200, SMA1, 40.12, SMA2, 39.58
2000-08-25, O, 42.34, H, 43.41, L, 42.25, C, 42.31,  V, 26866600, SMA1, 40.42, SMA2, 39.61
2000-08-28, O, 42.50, H, 43.97, L, 42.47, C, 43.38,  V, 25833600, SMA1, 40.71, SMA2, 39.65
2000-08-29, O, 43.41, H, 44.63, L, 43.28, C, 43.88,  V, 37678600, SMA1, 41.08, SMA2, 39.67
2000-08-30, O, 43.84, H, 44.41, L, 43.56, C, 44.12,  V, 27073400, SMA1, 41.45, SMA2, 39.69
2000-08-31, O, 44.22, H, 45.50, L, 44.22, C, 45.47,  V, 39840000, SMA1, 41.79, SMA2, 39.74
2000-09-01, O, 46.10, H, 46.47, L, 45.44, C, 46.31,  V, 30417800, SMA1, 42.07, SMA2, 39.85
2000-09-05, O, 46.19, H, 46.41, L, 45.28, C, 45.53,  V, 25535800, SMA1, 42.30, SMA2, 39.97
2000-09-06, O, 45.69, H, 45.88, L, 44.53, C, 44.62,  V, 38473000, SMA1, 42.45, SMA2, 40.03
2000-09-07, O, 45.06, H, 45.88, L, 44.75, C, 45.59,  V, 28559000, SMA1, 42.70, SMA2, 40.12
2000-09-08, O, 45.41, H, 45.44, L, 43.25, C, 43.28,  V, 34569400, SMA1, 42.86, SMA2, 40.16
2000-09-11, O, 43.03, H, 43.38, L, 41.19, C, 41.72,  V, 41459600, SMA1, 42.92, SMA2, 40.19
2000-09-12, O, 41.50, H, 42.66, L, 39.53, C, 39.69,  V, 49606000, SMA1, 42.85, SMA2, 40.14
2000-09-13, O, 38.88, H, 41.38, L, 38.47, C, 40.91,  V, 68132400, SMA1, 42.86, SMA2, 40.16
2000-09-14, O, 43.19, H, 43.31, L, 41.12, C, 42.47,  V, 64170600, SMA1, 42.95, SMA2, 40.28
2000-09-15, O, 40.56, H, 41.44, L, 39.00, C, 39.16,  V, 122939600, SMA1, 42.81, SMA2, 40.31
2000-09-18, O, 39.41, H, 40.00, L, 37.38, C, 38.23,  V, 72997800, SMA1, 42.69, SMA2, 40.31
2000-09-19, O, 38.72, H, 39.88, L, 38.06, C, 39.66,  V, 53198600, SMA1, 42.59, SMA2, 40.37
2000-09-20, O, 39.50, H, 40.31, L, 38.75, C, 39.97,  V, 37352200, SMA1, 42.50, SMA2, 40.44
2000-09-21, O, 39.72, H, 40.00, L, 37.75, C, 39.47,  V, 27160000, SMA1, 42.41, SMA2, 40.48
2000-09-22, O, 37.97, H, 40.38, L, 37.75, C, 40.37,  V, 58729400, SMA1, 42.31, SMA2, 40.53
2000-09-25, O, 40.56, H, 41.28, L, 39.38, C, 39.38,  V, 34748600, SMA1, 42.16, SMA2, 40.56
2000-09-26, O, 39.66, H, 40.50, L, 39.31, C, 39.72,  V, 39993400, SMA1, 41.98, SMA2, 40.59
2000-09-27, O, 40.09, H, 40.47, L, 39.00, C, 39.94,  V, 48205600, SMA1, 41.78, SMA2, 40.65
2000-09-28, O, 39.75, H, 41.09, L, 39.19, C, 40.74,  V, 42188600, SMA1, 41.61, SMA2, 40.73
2000-09-29, O, 40.68, H, 40.84, L, 39.12, C, 39.38,  V, 34843000, SMA1, 41.31, SMA2, 40.73
2000-10-02, O, 39.88, H, 41.06, L, 38.86, C, 39.38,  V, 46136800, SMA1, 40.96, SMA2, 40.77
2000-10-03, O, 39.91, H, 40.80, L, 34.38, C, 34.75,  V, 96827800, SMA1, 40.42, SMA2, 40.71
2000-10-04, O, 33.00, H, 35.38, L, 30.25, C, 34.06,  V, 204852000, SMA1, 39.89, SMA2, 40.63
2000-10-05, O, 34.16, H, 34.81, L, 33.25, C, 34.16,  V, 54316000, SMA1, 39.32, SMA2, 40.55
2000-10-06, O, 34.62, H, 35.81, L, 33.44, C, 33.81,  V, 53378400, SMA1, 38.85, SMA2, 40.47
2000-10-09, O, 33.81, H, 34.38, L, 32.56, C, 33.38,  V, 40304000, SMA1, 38.43, SMA2, 40.42
2000-10-10, O, 33.03, H, 33.62, L, 32.25, C, 32.31,  V, 50948400, SMA1, 38.06, SMA2, 40.31
2000-10-11, O, 31.50, H, 32.99, L, 31.00, C, 31.12,  V, 71687200, SMA1, 37.57, SMA2, 40.20
2000-10-12, O, 31.91, H, 32.44, L, 30.88, C, 31.50,  V, 50889400, SMA1, 37.02, SMA2, 40.10
2000-10-13, O, 31.00, H, 35.75, L, 31.00, C, 35.62,  V, 38514000, SMA1, 36.85, SMA2, 40.04
2000-10-16, O, 36.56, H, 37.00, L, 33.38, C, 34.56,  V, 36480500, SMA1, 36.66, SMA2, 39.92
2000-10-17, O, 35.75, H, 35.88, L, 32.88, C, 33.69,  V, 29353900, SMA1, 36.36, SMA2, 39.77
2000-10-18, O, 31.56, H, 35.38, L, 30.50, C, 33.56,  V, 52547900, SMA1, 36.04, SMA2, 39.61
2000-10-19, O, 36.00, H, 36.50, L, 34.62, C, 36.38,  V, 39321000, SMA1, 35.89, SMA2, 39.53
2000-10-20, O, 36.12, H, 36.50, L, 34.94, C, 35.25,  V, 34073400, SMA1, 35.63, SMA2, 39.43
2000-10-23, O, 35.19, H, 35.25, L, 33.38, C, 34.06,  V, 28316300, SMA1, 35.37, SMA2, 39.30
2000-10-24, O, 35.00, H, 36.56, L, 34.50, C, 35.81,  V, 36713000, SMA1, 35.17, SMA2, 39.19
2000-10-25, O, 36.50, H, 36.62, L, 34.00, C, 34.38,  V, 33361600, SMA1, 34.89, SMA2, 39.07
2000-10-26, O, 34.75, H, 35.88, L, 30.94, C, 34.06,  V, 49986600, SMA1, 34.56, SMA2, 38.94
2000-10-27, O, 34.50, H, 35.19, L, 33.00, C, 34.19,  V, 34962500, SMA1, 34.30, SMA2, 38.78
2000-10-30, O, 33.75, H, 34.12, L, 31.38, C, 31.62,  V, 35420300, SMA1, 33.91, SMA2, 38.60
2000-10-31, O, 32.62, H, 34.75, L, 32.50, C, 33.00,  V, 41881000, SMA1, 33.83, SMA2, 38.43
2000-11-01, O, 32.81, H, 33.19, L, 30.38, C, 31.38,  V, 62692100, SMA1, 33.69, SMA2, 38.22
2000-11-02, O, 32.44, H, 32.50, L, 27.25, C, 29.56,  V, 149767500, SMA1, 33.46, SMA2, 37.98
2000-11-03, O, 31.50, H, 31.75, L, 29.50, C, 30.31,  V, 65017500, SMA1, 33.29, SMA2, 37.74
2000-11-06, O, 30.69, H, 31.00, L, 27.50, C, 27.94,  V, 75551500, SMA1, 33.02, SMA2, 37.46
2000-11-07, O, 28.38, H, 28.44, L, 26.50, C, 26.56,  V, 58951000, SMA1, 32.73, SMA2, 37.12
2000-11-08, O, 27.38, H, 27.50, L, 24.50, C, 24.81,  V, 63040000, SMA1, 32.41, SMA2, 36.74
2000-11-09, O, 24.69, H, 27.38, L, 24.06, C, 27.19,  V, 67280700, SMA1, 32.20, SMA2, 36.40
2000-11-10, O, 26.44, H, 26.94, L, 24.88, C, 25.44,  V, 54609400, SMA1, 31.69, SMA2, 36.00

In [104]:
# Compare with values in dataframe
dataframe.loc['2000-01-03':'2000-01-05', :]

,Open,High,Low,Close,Volume,SMA_20,SMA_50
Date,,,,,,,
2000-01-03,31.15625,31.296875,27.90625,29.531250,98114800,23.652344,18.777812
2000-01-04,28.87500,29.656250,26.25000,26.921875,116824800,24.017969,19.095625
2000-01-05,25.40625,26.593750,24.00000,25.500000,166054000,24.302344,19.389063

All good! Values printed inside Backtrader are the same than those available in the dataframe.