# Add new columns to a Datafeed

To use Backtrader, the standard process is to import datafeeds with basic information like prices (OHLC), volumes and open interests. However, I can be useful to add other fields such as:  
- **Indicators**: This way, it is faster to develop and run strategies in Backtrader as the results of the indicators are already available and we do not need to create complex Strategy functions to be computed inside loops.  
- **Fundamental or sentiment data**: anything can be added as extra columns.

Each column added to a csv file will be considered a a 'line' by Backtrader. This is an extension of standard lines which are open, high, low, close, volume, openinterest.

To do this, create a class inheriting from **backtrader.feeds.GenericCSVData**.  
See https://www.backtrader.com/docu/extending-a-datafeed/#plotting-that-extra-pe-line

In [22]:
# import libraries
import pandas as pd
import backtrader as bt
import datetime  # For datetime objects

## 1. Create csv file with a new 'SMA' column

First step is to create a csv file with a new column. For exemple, let's calculate a 20-day Simple Moving Average (SMA) using Pandas.

In [23]:
# Load csv file into a DataFrame
dataframe = pd.read_csv('data/orcl-1995-2014.csv',
           index_col=0)
dataframe.tail()

                 Open       High        Low      Close  Adj Close    Volume
Date
2014-12-24  46.360001  46.709999  46.150002  46.230000  43.488419  10238200
2014-12-26  46.189999  46.500000  46.070000  46.099998  43.366119   6901500
2014-12-29  46.020000  46.090000  45.599998  45.610001  42.905186   9701400
2014-12-30  45.549999  45.660000  45.290001  45.340000  42.651192   9968400
2014-12-31  45.450001  45.560001  44.970001  44.970001  42.303135  13269200

Now let's add a column 'SMA' to calculate a 20-day MA

In [25]:
# Add new column SMA
dataframe['SMA']=dataframe['Close'].rolling(20).mean()
dataframe

,Open,High,Low,Close,Adj Close,Volume,SMA
Date,,,,,,,
1995-01-03,2.179012,2.191358,2.117284,2.117284,1.883304,36301200,NaN
1995-01-04,2.123457,2.148148,2.092592,2.135803,1.899776,46051600,NaN
1995-01-05,2.141975,2.148148,2.086420,2.092592,1.861340,37762800,NaN
1995-01-06,2.092592,2.154321,2.061728,2.117284,1.883304,41864400,NaN
1995-01-09,2.135803,2.179012,2.129630,2.179012,1.938211,34639200,NaN
...,...,...,...,...,...,...,...
2014-12-24,46.360001,46.709999,46.150002,46.230000,43.488419,10238200,42.5715
2014-12-26,46.189999,46.500000,46.070000,46.099998,43.366119,6901500,42.7830
2014-12-29,46.020000,46.090000,45.599998,45.610001,42.905186,9701400,42.9430
2014-12-30,45.549999,45.660000,45.290001,45.340000,42.651192,9968400,43.1060
2014-12-31,45.450001,45.560001,44.970001,44.970001,42.303135,13269200,43.2455

In [29]:
# Drop lines with NaNs as SMA is not yet available
dataframe.dropna(inplace=True)
dataframe.head()

,Open,High,Low,Close,Adj Close,Volume,SMA
Date,,,,,,,
1995-01-30,2.111111,2.117284,2.055556,2.061728,1.833888,44440000,2.127469
1995-01-31,2.074074,2.129630,2.061728,2.104938,1.872322,37908400,2.126852
1995-02-01,2.129630,2.141975,2.080247,2.092592,1.861340,24384400,2.124691
1995-02-02,2.092592,2.123457,2.080247,2.117284,1.883304,24165600,2.125926
1995-02-03,2.135803,2.197531,2.123457,2.172839,1.932719,53942800,2.128704

In [31]:
# To avoid confusion, we drop column "Adj Close" which is not standard
dataframe.drop(columns=['Adj Close'], inplace=True)

In [33]:
dataframe.head()

                Open      High       Low     Close    Volume       SMA
Date
1995-01-30  2.111111  2.117284  2.055556  2.061728  44440000  2.127469
1995-01-31  2.074074  2.129630  2.061728  2.104938  37908400  2.126852
1995-02-01  2.129630  2.141975  2.080247  2.092592  24384400  2.124691
1995-02-02  2.092592  2.123457  2.080247  2.117284  24165600  2.125926
1995-02-03  2.135803  2.197531  2.123457  2.172839  53942800  2.128704

In [32]:
# Save new file csv file with SMA field
dataframe.to_csv('data/orcl-1995-2014_SMA.csv')

## 2. Create a new trading strategy using new column 'SMA'

We must first create a class inherited from class GenericCSVData that will add a new line called 'sma' to standard lines already available in GenericCSVData ('datetime', 'time', 'open', 'high', 'low', 'close', 'volume', 'openinterest')

In [34]:
from backtrader.feeds import GenericCSVData

class GenericCSV_SMA(GenericCSVData):
    """
    Add new line 'sma' corresponding to column 6 in csv file
    ----
    Make sure SMA column is number 6 in csv file used!
    Other GenericCSVData standard fields will be recognized
    """

    # Add a 'sma' line to the inherited ones from the base class
    lines = ('sma',)

    # add the parameter to the parameters inherited from the base class
    # openinterest in GenericCSVData has index 7 so sma should be 8
    # However, SMA is column 8 in the csv file used so sma should be 6
    params = (('sma', 6),)

We can create a new strategy that uses the SMA column available in the csv file as an input for a trading strategy. Here the strategy is just to print the level of the Simple Moving Average every day.

In [51]:
class TestStrategy(bt.Strategy):
    """
    Print close price in logs every day
    """
    def __init__(self):
        """ Keep a reference to the close line in the datas[0] dataseries"""
        self.dataopen = self.datas[0].lines.open
        self.dataclose = self.datas[0].lines.close
        # Define column SMA of the CSV file as a new line
        self.my_sma = self.datas[0].lines.sma

    def log(self, txt, dt=None):
        """ Logging function for this strategy"""
        dt = dt or self.datas[0].datetime.date(0)
        # print date followed by any message found in 'txt'
        print('%s, %s' % (dt.isoformat(), txt))

    def next(self):
        """ Simply log the closing price of the series from the reference"""
        # output will be of format "date, Close, a float" (i.e. close price)
        self.log('Open, %.2f,  Close, %.2f,  SMA, %.2f' % (self.dataopen[0], self.dataclose[0], self.my_sma[0]))

In [52]:
if __name__ == '__main__':
    # Create a cerebro entity
    cerebro = bt.Cerebro()

    # Add the strategy (print logs)
    cerebro.addstrategy(TestStrategy)

    # Create a Data Feed
    data = GenericCSV_SMA(
        dataname='data/orcl-1995-2014_SMA.csv',
        # Default date format is '%Y-%m-%d %H:%M:%S'
        # As hours are not available in csv file, change to
        dtformat="%Y-%m-%d",
        # Do not pass values before this date
        fromdate=datetime.datetime(2000, 1, 1),
        # Do not pass values before this date
        todate=datetime.datetime(2000, 12, 31),
        # Do not pass values after this date
        reverse=False)

    # Add the Data Feed to Cerebro
    cerebro.adddata(data)

    # Set our desired cash start
    cerebro.broker.setcash(100000.0)

    # Print out the starting conditions
    print('Starting Portfolio Value: %.2f' % cerebro.broker.getvalue())

    # Run over everything
    cerebro.run()

    # Print out the final result
    print('Final Portfolio Value: %.2f' % cerebro.broker.getvalue())

Starting Portfolio Value: 100000.00
2000-01-03, Open, 31.16,  Close, 29.53,  SMA, 23.65
2000-01-04, Open, 28.88,  Close, 26.92,  SMA, 24.02
2000-01-05, Open, 25.41,  Close, 25.50,  SMA, 24.30
2000-01-06, Open, 25.04,  Close, 24.00,  SMA, 24.55
2000-01-07, Open, 23.75,  Close, 25.84,  SMA, 24.86
2000-01-10, Open, 27.00,  Close, 28.94,  SMA, 25.25
2000-01-11, Open, 28.16,  Close, 28.09,  SMA, 25.66
2000-01-12, Open, 28.06,  Close, 26.41,  SMA, 26.02
2000-01-13, Open, 27.12,  Close, 26.27,  SMA, 26.20
2000-01-14, Open, 27.25,  Close, 26.70,  SMA, 26.41
2000-01-18, Open, 26.97,  Close, 27.81,  SMA, 26.67
2000-01-19, Open, 28.06,  Close, 28.56,  SMA, 26.90
2000-01-20, Open, 29.50,  Close, 29.62,  SMA, 27.16
2000-01-21, Open, 30.75,  Close, 29.84,  SMA, 27.34
2000-01-24, Open, 30.12,  Close, 27.09,  SMA, 27.36
2000-01-25, Open, 27.53,  Close, 28.22,  SMA, 27.46
2000-01-26, Open, 28.38,  Close, 27.53,  SMA, 27.51
2000-01-27, Open, 27.91,  Close, 25.91,  SMA, 27.43
2000-01-28, Open, 25.75,  Close, 23.69,  SMA, 27.23
2000-01-31, Open, 23.97,  Close, 24.98,  SMA, 27.07
2000-02-01, Open, 25.62,  Close, 27.00,  SMA, 26.95
2000-02-02, Open, 27.47,  Close, 27.16,  SMA, 26.96
2000-02-03, Open, 27.69,  Close, 28.34,  SMA, 27.10
2000-02-04, Open, 28.81,  Close, 28.91,  SMA, 27.35
2000-02-07, Open, 29.66,  Close, 29.97,  SMA, 27.55
2000-02-08, Open, 30.38,  Close, 29.78,  SMA, 27.59
2000-02-09, Open, 30.03,  Close, 29.97,  SMA, 27.69
2000-02-10, Open, 30.00,  Close, 31.16,  SMA, 27.93
2000-02-11, Open, 31.25,  Close, 29.84,  SMA, 28.10
2000-02-14, Open, 30.44,  Close, 31.09,  SMA, 28.32
2000-02-15, Open, 30.81,  Close, 30.69,  SMA, 28.47
2000-02-16, Open, 30.50,  Close, 30.62,  SMA, 28.57
2000-02-17, Open, 30.88,  Close, 30.81,  SMA, 28.63
2000-02-18, Open, 30.84,  Close, 29.28,  SMA, 28.60
2000-02-22, Open, 29.56,  Close, 29.66,  SMA, 28.73
2000-02-23, Open, 30.09,  Close, 31.53,  SMA, 28.90
2000-02-24, Open, 31.59,  Close, 30.97,  SMA, 29.07
2000-02-25, Open, 30.94,  Close, 35.31,  SMA, 29.54
2000-02-28, Open, 35.62,  Close, 34.31,  SMA, 30.07
2000-02-29, Open, 36.69,  Close, 37.12,  SMA, 30.68
2000-03-01, Open, 36.88,  Close, 35.75,  SMA, 31.11
2000-03-02, Open, 36.75,  Close, 34.25,  SMA, 31.47
2000-03-03, Open, 35.56,  Close, 37.50,  SMA, 31.93
2000-03-06, Open, 37.41,  Close, 37.88,  SMA, 32.38
2000-03-07, Open, 38.31,  Close, 37.47,  SMA, 32.75
2000-03-08, Open, 38.69,  Close, 41.56,  SMA, 33.34
2000-03-09, Open, 42.16,  Close, 42.00,  SMA, 33.94
2000-03-10, Open, 42.00,  Close, 40.81,  SMA, 34.42
2000-03-13, Open, 39.25,  Close, 39.38,  SMA, 34.90
2000-03-14, Open, 40.94,  Close, 38.50,  SMA, 35.27
2000-03-15, Open, 42.00,  Close, 39.31,  SMA, 35.70
2000-03-16, Open, 40.34,  Close, 40.97,  SMA, 36.22
2000-03-17, Open, 40.88,  Close, 39.91,  SMA, 36.67
2000-03-20, Open, 40.25,  Close, 39.06,  SMA, 37.16
2000-03-21, Open, 38.94,  Close, 40.34,  SMA, 37.70
2000-03-22, Open, 40.50,  Close, 42.03,  SMA, 38.22
2000-03-23, Open, 41.56,  Close, 43.44,  SMA, 38.85
2000-03-24, Open, 43.41,  Close, 43.50,  SMA, 39.25
2000-03-27, Open, 44.53,  Close, 44.22,  SMA, 39.75
2000-03-28, Open, 43.81,  Close, 43.28,  SMA, 40.06
2000-03-29, Open, 43.03,  Close, 41.25,  SMA, 40.33
2000-03-30, Open, 39.25,  Close, 39.22,  SMA, 40.58
2000-03-31, Open, 40.09,  Close, 39.03,  SMA, 40.66
2000-04-03, Open, 39.31,  Close, 38.44,  SMA, 40.69
2000-04-04, Open, 39.06,  Close, 37.97,  SMA, 40.71
2000-04-05, Open, 36.62,  Close, 39.12,  SMA, 40.59
2000-04-06, Open, 40.31,  Close, 41.09,  SMA, 40.54
2000-04-07, Open, 41.84,  Close, 43.56,  SMA, 40.68
2000-04-10, Open, 43.75,  Close, 41.25,  SMA, 40.77
2000-04-11, Open, 40.09,  Close, 38.69,  SMA, 40.78
2000-04-12, Open, 38.97,  Close, 36.56,  SMA, 40.65
2000-04-13, Open, 37.44,  Close, 35.97,  SMA, 40.40
2000-04-14, Open, 34.96,  Close, 31.25,  SMA, 39.96
2000-04-17, Open, 30.25,  Close, 37.41,  SMA, 39.88
2000-04-18, Open, 37.78,  Close, 39.47,  SMA, 39.84
2000-04-19, Open, 39.31,  Close, 37.28,  SMA, 39.60
2000-04-20, Open, 36.91,  Close, 35.41,  SMA, 39.20
2000-04-24, Open, 33.69,  Close, 36.22,  SMA, 38.83
2000-04-25, Open, 37.44,  Close, 37.78,  SMA, 38.51
2000-04-26, Open, 38.06,  Close, 36.09,  SMA, 38.15
2000-04-27, Open, 35.03,  Close, 38.66,  SMA, 38.02
2000-04-28, Open, 39.25,  Close, 39.97,  SMA, 38.06
2000-05-01, Open, 39.94,  Close, 39.84,  SMA, 38.10
2000-05-02, Open, 39.47,  Close, 38.91,  SMA, 38.12
2000-05-03, Open, 38.44,  Close, 37.91,  SMA, 38.12
2000-05-04, Open, 37.66,  Close, 37.12,  SMA, 38.02
2000-05-05, Open, 37.00,  Close, 38.41,  SMA, 37.89
2000-05-08, Open, 37.66,  Close, 36.16,  SMA, 37.52
2000-05-09, Open, 36.84,  Close, 36.00,  SMA, 37.25
2000-05-10, Open, 35.47,  Close, 33.81,  SMA, 37.01
2000-05-11, Open, 34.47,  Close, 36.19,  SMA, 36.99
2000-05-12, Open, 36.66,  Close, 37.09,  SMA, 37.05
2000-05-15, Open, 37.22,  Close, 38.50,  SMA, 37.41
2000-05-16, Open, 38.81,  Close, 39.59,  SMA, 37.52
2000-05-17, Open, 38.88,  Close, 39.09,  SMA, 37.50
2000-05-18, Open, 39.16,  Close, 36.53,  SMA, 37.46
2000-05-19, Open, 36.00,  Close, 35.03,  SMA, 37.45
2000-05-22, Open, 35.03,  Close, 33.91,  SMA, 37.33
2000-05-23, Open, 33.50,  Close, 31.31,  SMA, 37.01
2000-05-24, Open, 30.88,  Close, 32.12,  SMA, 36.81
2000-05-25, Open, 32.75,  Close, 33.22,  SMA, 36.54
2000-05-26, Open, 33.41,  Close, 33.50,  SMA, 36.21
2000-05-30, Open, 34.44,  Close, 37.09,  SMA, 36.08
2000-05-31, Open, 36.62,  Close, 35.94,  SMA, 35.93
2000-06-01, Open, 36.97,  Close, 38.94,  SMA, 35.98
2000-06-02, Open, 40.25,  Close, 40.09,  SMA, 36.13
2000-06-05, Open, 39.62,  Close, 40.47,  SMA, 36.23
2000-06-06, Open, 40.25,  Close, 38.53,  SMA, 36.35
2000-06-07, Open, 38.38,  Close, 40.00,  SMA, 36.55
2000-06-08, Open, 40.94,  Close, 41.19,  SMA, 36.92
2000-06-09, Open, 41.44,  Close, 41.34,  SMA, 37.17
2000-06-12, Open, 41.28,  Close, 40.28,  SMA, 37.33
2000-06-13, Open, 39.99,  Close, 40.84,  SMA, 37.45
2000-06-14, Open, 40.94,  Close, 39.50,  SMA, 37.45
2000-06-15, Open, 39.62,  Close, 41.25,  SMA, 37.55
2000-06-16, Open, 40.94,  Close, 40.94,  SMA, 37.77
2000-06-19, Open, 41.03,  Close, 43.00,  SMA, 38.17
2000-06-20, Open, 43.47,  Close, 43.02,  SMA, 38.63
2000-06-21, Open, 40.41,  Close, 43.09,  SMA, 39.22
2000-06-22, Open, 42.31,  Close, 40.75,  SMA, 39.65
2000-06-23, Open, 40.41,  Close, 39.75,  SMA, 39.98
2000-06-26, Open, 40.12,  Close, 41.34,  SMA, 40.37
2000-06-27, Open, 41.19,  Close, 41.12,  SMA, 40.57
2000-06-28, Open, 41.03,  Close, 41.47,  SMA, 40.85
2000-06-29, Open, 41.03,  Close, 40.44,  SMA, 40.92
2000-06-30, Open, 40.19,  Close, 42.03,  SMA, 41.02
2000-07-03, Open, 40.56,  Close, 40.09,  SMA, 41.00
2000-07-05, Open, 38.41,  Close, 36.16,  SMA, 40.88
2000-07-06, Open, 35.88,  Close, 37.81,  SMA, 40.77
2000-07-07, Open, 37.97,  Close, 37.94,  SMA, 40.61
2000-07-10, Open, 37.31,  Close, 37.06,  SMA, 40.39
2000-07-11, Open, 36.81,  Close, 36.16,  SMA, 40.19
2000-07-12, Open, 36.72,  Close, 37.34,  SMA, 40.01
2000-07-13, Open, 37.88,  Close, 37.88,  SMA, 39.93
2000-07-14, Open, 38.09,  Close, 38.06,  SMA, 39.77
2000-07-17, Open, 37.66,  Close, 38.06,  SMA, 39.63
2000-07-18, Open, 37.84,  Close, 37.09,  SMA, 39.33
2000-07-19, Open, 37.50,  Close, 36.88,  SMA, 39.03
2000-07-20, Open, 37.41,  Close, 39.06,  SMA, 38.83
2000-07-21, Open, 38.72,  Close, 37.72,  SMA, 38.67
2000-07-24, Open, 38.56,  Close, 37.50,  SMA, 38.56
2000-07-25, Open, 37.94,  Close, 38.00,  SMA, 38.39
2000-07-26, Open, 37.41,  Close, 38.38,  SMA, 38.26
2000-07-27, Open, 37.97,  Close, 37.53,  SMA, 38.06
2000-07-28, Open, 37.56,  Close, 36.19,  SMA, 37.85
2000-07-31, Open, 35.88,  Close, 37.59,  SMA, 37.62
2000-08-01, Open, 37.59,  Close, 36.56,  SMA, 37.45
2000-08-02, Open, 36.50,  Close, 36.56,  SMA, 37.47
2000-08-03, Open, 36.41,  Close, 38.72,  SMA, 37.51
2000-08-04, Open, 39.16,  Close, 40.78,  SMA, 37.66
2000-08-07, Open, 40.44,  Close, 40.94,  SMA, 37.85
2000-08-08, Open, 40.50,  Close, 41.50,  SMA, 38.12
2000-08-09, Open, 41.75,  Close, 40.69,  SMA, 38.28
2000-08-10, Open, 40.72,  Close, 40.03,  SMA, 38.39
2000-08-11, Open, 39.97,  Close, 40.56,  SMA, 38.52
2000-08-14, Open, 40.09,  Close, 41.19,  SMA, 38.67
2000-08-15, Open, 40.97,  Close, 40.62,  SMA, 38.85
2000-08-16, Open, 40.69,  Close, 40.59,  SMA, 39.04
2000-08-17, Open, 40.44,  Close, 41.97,  SMA, 39.18
2000-08-18, Open, 41.75,  Close, 40.66,  SMA, 39.33
2000-08-21, Open, 41.06,  Close, 41.59,  SMA, 39.53
2000-08-22, Open, 41.44,  Close, 41.78,  SMA, 39.72
2000-08-23, Open, 41.47,  Close, 41.44,  SMA, 39.88
2000-08-24, Open, 41.44,  Close, 42.34,  SMA, 40.12
2000-08-25, Open, 42.34,  Close, 42.31,  SMA, 40.42
2000-08-28, Open, 42.50,  Close, 43.38,  SMA, 40.71
2000-08-29, Open, 43.41,  Close, 43.88,  SMA, 41.08
2000-08-30, Open, 43.84,  Close, 44.12,  SMA, 41.45
2000-08-31, Open, 44.22,  Close, 45.47,  SMA, 41.79
2000-09-01, Open, 46.10,  Close, 46.31,  SMA, 42.07
2000-09-05, Open, 46.19,  Close, 45.53,  SMA, 42.30
2000-09-06, Open, 45.69,  Close, 44.62,  SMA, 42.45
2000-09-07, Open, 45.06,  Close, 45.59,  SMA, 42.70
2000-09-08, Open, 45.41,  Close, 43.28,  SMA, 42.86
2000-09-11, Open, 43.03,  Close, 41.72,  SMA, 42.92
2000-09-12, Open, 41.50,  Close, 39.69,  SMA, 42.85
2000-09-13, Open, 38.88,  Close, 40.91,  SMA, 42.86
2000-09-14, Open, 43.19,  Close, 42.47,  SMA, 42.95
2000-09-15, Open, 40.56,  Close, 39.16,  SMA, 42.81
2000-09-18, Open, 39.41,  Close, 38.23,  SMA, 42.69
2000-09-19, Open, 38.72,  Close, 39.66,  SMA, 42.59
2000-09-20, Open, 39.50,  Close, 39.97,  SMA, 42.50
2000-09-21, Open, 39.72,  Close, 39.47,  SMA, 42.41
2000-09-22, Open, 37.97,  Close, 40.37,  SMA, 42.31
2000-09-25, Open, 40.56,  Close, 39.38,  SMA, 42.16
2000-09-26, Open, 39.66,  Close, 39.72,  SMA, 41.98
2000-09-27, Open, 40.09,  Close, 39.94,  SMA, 41.78
2000-09-28, Open, 39.75,  Close, 40.74,  SMA, 41.61
2000-09-29, Open, 40.68,  Close, 39.38,  SMA, 41.31
2000-10-02, Open, 39.88,  Close, 39.38,  SMA, 40.96
2000-10-03, Open, 39.91,  Close, 34.75,  SMA, 40.42
2000-10-04, Open, 33.00,  Close, 34.06,  SMA, 39.89
2000-10-05, Open, 34.16,  Close, 34.16,  SMA, 39.32
2000-10-06, Open, 34.62,  Close, 33.81,  SMA, 38.85
2000-10-09, Open, 33.81,  Close, 33.38,  SMA, 38.43
2000-10-10, Open, 33.03,  Close, 32.31,  SMA, 38.06
2000-10-11, Open, 31.50,  Close, 31.12,  SMA, 37.57
2000-10-12, Open, 31.91,  Close, 31.50,  SMA, 37.02
2000-10-13, Open, 31.00,  Close, 35.62,  SMA, 36.85
2000-10-16, Open, 36.56,  Close, 34.56,  SMA, 36.66
2000-10-17, Open, 35.75,  Close, 33.69,  SMA, 36.36
2000-10-18, Open, 31.56,  Close, 33.56,  SMA, 36.04
2000-10-19, Open, 36.00,  Close, 36.38,  SMA, 35.89
2000-10-20, Open, 36.12,  Close, 35.25,  SMA, 35.63
2000-10-23, Open, 35.19,  Close, 34.06,  SMA, 35.37
2000-10-24, Open, 35.00,  Close, 35.81,  SMA, 35.17
2000-10-25, Open, 36.50,  Close, 34.38,  SMA, 34.89
2000-10-26, Open, 34.75,  Close, 34.06,  SMA, 34.56
2000-10-27, Open, 34.50,  Close, 34.19,  SMA, 34.30
2000-10-30, Open, 33.75,  Close, 31.62,  SMA, 33.91
2000-10-31, Open, 32.62,  Close, 33.00,  SMA, 33.83
2000-11-01, Open, 32.81,  Close, 31.38,  SMA, 33.69
2000-11-02, Open, 32.44,  Close, 29.56,  SMA, 33.46
2000-11-03, Open, 31.50,  Close, 30.31,  SMA, 33.29
2000-11-06, Open, 30.69,  Close, 27.94,  SMA, 33.02
2000-11-07, Open, 28.38,  Close, 26.56,  SMA, 32.73
2000-11-08, Open, 27.38,  Close, 24.81,  SMA, 32.41
2000-11-09, Open, 24.69,  Close, 27.19,  SMA, 32.20
2000-11-10, Open, 26.44,  Close, 25.44,  SMA, 31.69
2000-11-13, Open, 25.12,  Close, 24.75,  SMA, 31.20
2000-11-14, Open, 27.38,  Close, 28.38,  SMA, 30.93
2000-11-15, Open, 28.81,  Close, 28.88,  SMA, 30.70
2000-11-16, Open, 28.75,  Close, 27.38,  SMA, 30.25
2000-11-17, Open, 26.94,  Close, 28.81,  SMA, 29.93
2000-11-20, Open, 24.31,  Close, 24.75,  SMA, 29.46
2000-11-21, Open, 24.81,  Close, 23.88,  SMA, 28.86
2000-11-22, Open, 23.62,  Close, 22.31,  SMA, 28.26
2000-11-24, Open, 23.31,  Close, 24.12,  SMA, 27.76
2000-11-27, Open, 25.44,  Close, 23.12,  SMA, 27.21
2000-11-28, Open, 23.50,  Close, 22.66,  SMA, 26.76
2000-11-29, Open, 23.19,  Close, 22.88,  SMA, 26.25
2000-11-30, Open, 21.75,  Close, 26.50,  SMA, 26.01
2000-12-01, Open, 26.38,  Close, 26.44,  SMA, 25.85
2000-12-04, Open, 26.25,  Close, 28.19,  SMA, 25.75
2000-12-05, Open, 29.44,  Close, 31.50,  SMA, 25.93
2000-12-06, Open, 31.19,  Close, 30.19,  SMA, 26.11
2000-12-07, Open, 29.62,  Close, 28.31,  SMA, 26.28
2000-12-08, Open, 30.06,  Close, 30.06,  SMA, 26.43
2000-12-11, Open, 30.50,  Close, 31.94,  SMA, 26.75
2000-12-12, Open, 31.88,  Close, 30.75,  SMA, 27.05
2000-12-13, Open, 31.94,  Close, 28.38,  SMA, 27.05
2000-12-14, Open, 29.25,  Close, 27.50,  SMA, 26.98
2000-12-15, Open, 29.44,  Close, 28.56,  SMA, 27.04
2000-12-18, Open, 30.00,  Close, 32.00,  SMA, 27.20
2000-12-19, Open, 31.81,  Close, 30.62,  SMA, 27.50
2000-12-20, Open, 28.06,  Close, 28.50,  SMA, 27.73
2000-12-21, Open, 27.81,  Close, 29.50,  SMA, 28.09
2000-12-22, Open, 30.38,  Close, 31.88,  SMA, 28.47
2000-12-26, Open, 31.50,  Close, 30.94,  SMA, 28.86
2000-12-27, Open, 30.38,  Close, 30.69,  SMA, 29.27
2000-12-28, Open, 30.56,  Close, 31.06,  SMA, 29.68
2000-12-29, Open, 30.88,  Close, 29.06,  SMA, 29.80
Final Portfolio Value: 100000.00

All good! Values printed inside Backtrader are the same than those available in the csv file.